.nav{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.nav_black{
    background-color: rgba(0, 0, 0, 1);
}
.nav_left, .nav_right{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.nav_left ul, .nav_right ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 20px;
    height: 100%;
}
.nav_left ul li, .nav_right ul li{
    color: #fff;
    height: 100%;
    margin-right: 15px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav_left ul li:hover, .nav_right ul li:hover{
    opacity: .5;
}
.nav_logo{
    width: 80px;
    cursor: pointer;
}
.nav_avatar{
    width: 30px;
    cursor: pointer;
}
.nav_logo img, .nav_avatar img{
    width: 100%;
    object-fit: contain;
}
